body {
    background: #5a5959;
    color: #fff;
    font-family: 'JetBrains Mono';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: 'JetBrains Mono';
    background-color: #007ea0;
    color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5rem;
}

input {
    border-radius: 5rem;
    font-family: 'JetBrains Mono';
    align-self: end;
    margin-left: 1rem;
}

span {
    color: red;
}